<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for car in cars %}
        Modelo: {{ car.model }} <br>
        Marca: {{ car.brand }} <br>
        Ano Fab: {{ car.factory_year }} <br>
        Ano Modelo: {{ car.model_year }} <br>
        Placa : {{ car.plate }} <br>
        Valor: {{ car.value }} <br>
        Foto: {{ car.photo}} <br>
        <br>
    {% endfor %}
</body>
</html>